# Especificar una versión de Python estable
python==3.11

# Librerías de la aplicación
streamlit
langchain
langchain-core
langchain-google-genai
google-generativeai
langchain-community
langchain-huggingface
huggingface-hub
pypdf
tavily-python
langchainhub
nest-asyncio
