streamlit
langchain
langchain-core
langchain-google-genai
google-generativeai
langchain-community
pypdf
tavily-python
langchainhub
langchain-huggingface  # <--- Añadir de nuevo
nest-asyncio           # <--- Mantener por seguridad
